{% extends "base.html" %}

{% block content %}
    <h1>Hi, 
        {% if current_user.faculty %}
        Faculty {{ current_user.username }}
        Timestamp: {{ time.timestamp }}
        <p><a href="{{ url_for('register') }}">Click to Register New User!</a></p>
        
        <table>
            <thead>
               <tr>
                  <th></th>
                  <th>ID</th>
                  <th>User</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Banner ID</th>
                  <th>Address</th>
                  <th>Phone Number</th>
                  <th>GPA</th>
                  <th>Credit Total</th>
               </tr>
            </thead>
   
            <tbody>
               {% for users in user %}
                  <tr>
                     <td><a href="{{ url_for('edit', id=users.id) }}">Edit</a></td>
                     <td>{{ users.id }}</td>
                     <td>{{ users.username }}</td>
                     {% for students in student %}
                     {% if students.student_id == users.id %}
                     <td>{{ students.firstName }}</td>
                     <td>{{ students.lastName }}</td>
                     <td>{{ students.bannerID }}</td>
                     <td>{{ students.address }}</td>
                     <td>{{ students.phone }}</td>
                     <td>{{ students.gpa }}</td>
                     <td>{{ students.creditTotal }}</td>
                     {% endif %}
                     {% endfor %}
                  </tr>
               {% endfor %}
            </tbody>
         </table>

        {% else %}
        {{ current_user.username }}
        Timestamp: {{ time.timestamp }}

        <table>
         <thead>
            <tr>
               <th></th>
               <th>ID</th>
               <th>User</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Banner ID</th>
               <th>Address</th>
               <th>Phone Number</th>
               <th>GPA</th>
               <th>Credit Total</th>
            </tr>
         </thead>

         <tbody>
            <tr>
               <td>{{ current_user.id }}</td>
               <td>{{ current_user.username }}</td>
               {% for students in student %}
               {% if students.student.id == current_user.id %}
               <td><a href="{{ url_for('edit', id=students.student.id) }}">Edit</a></td>
                  <td>{{ students.firstName }}</td>
                  <td>{{ students.lastName }}</td>
                  <td>{{ students.bannerID }}</td>
                  <td>{{ students.address }}</td>
                  <td>{{ students.phone }}</td>
                  <td>{{ students.gpa }}</td>
                  <td>{{ students.creditTotal }}</td>
               {% endif %}
               {% endfor %}
            </tr>
         </tbody>
      </table>
      {% endif %}
    </h1>
{% endblock %}